<!doctype html>
<html lang="en">
  <head>
  	<title>QUOTATION MAKER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/user/adding_index/css/style.css">

	</head>
	<body>


	<section class="ftco-section">


		<div class="container">



			<div class="row justify-content-center">


			</div>
			<div class="row">

				<div class="col-md-12">
					<h3 class="h5 mb-4 text-center">Table Accordion</h3>






					<div class="table-wrap">
						<table class="table">

						  <tbody>



                            <h4>No Records</h4>




						  </tbody>
						</table>

						<a href="/more_items/{{data}}"><button type="button"  style="background-color: #000080; color: white; border: none;"  class="form-control" >Add Items</button></a><br>


					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/user/adding_index/js/jquery.min.js"></script>
  <script src="/static/user/adding_index/js/popper.js"></script>
  <script src="/static/user/adding_index/js/bootstrap.min.js"></script>
  <script src="/static/user/adding_index/js/main.js"></script>

</div></body>
</html>

